;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue Jan  1 17:32:51 2013
;; Desktop file format version 206
;; Emacs version 23.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("bufgrain" "\\god" "InsideOut" "patch_pan" "vla_del_in" "\\god" "\\" "patch_pan" "patch" "p" "patch_pan" "WARNING" "in_hw"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/sc/cotccm/130105_human_ark/" "~/sc/cotccm/130105_human_ark/lions_end.scd" "~/sc/cotccm/130105_human_ark/" "~/sc/cotccm/130105_human_ark/lion_defs.scd" "~/sc/cotccm/" "~/sc/" "~/sc/cotccm/" "~/sc/cotccm/cotccm_lib/pad.rtf" "~/sc/cotccm/130105_human_ark/_defs.scd" "~/sc/cotccm/130105_human_ark/defs.scd" "~/sc/cotccm/130105_human_ark/lion_defs.scd" "~/sc/cotccm/130105_human_ark/_defs.scd" "~/sc/cotccm/130105_human_ark/__lions.scd" "~/sc/cotccm/130105_human_ark/_defs.scd" "~/sc/cotccm/130105_human_ark/defs.scd" "~/sc/cotccm/130105_human_ark/def.scd" "~/sc/cotccm/130105_human_ark/lion_defs.scd" "~/sc/cotccm/130105_human_ark/lions_ctl.scd" "__lions.scd" "~/sc/cotccm/130105_human_ark/_x.scd" "~/sc/cotccm/130105_human_ark/lion_defs.scd" "~/sc/cotccm/130105_human_ark/oldefs.scd" "~/sc/cotccm/130105_human_ark/__lions.scd" "~/sc/cotccm/" "~/sc/cotccm/130105_human_ark/arduino.scd" "~/sc/cotccm/130105_human_ark/_x.scd" "~/sc/" "~/sc/cotccm/130105_human_ark/set.scd"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/emb/sc/cotccm/130105_human_ark/lions_vox_grain.scd"
  "lions_vox_grain.scd"
  'sclang-mode
  nil
  111
  '(111 t)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/130105_human_ark/lions_end.scd"
  "lions_end.scd"
  'sclang-mode
  nil
  127
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/130105_human_ark/lion_defs.scd"
  "lion_defs.scd"
  'sclang-mode
  nil
  6245
  '(4958 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . iso-latin-1-unix)))

(desktop-create-buffer 206
  nil
  "130105_human_ark"
  'dired-mode
  nil
  1210
  '(nil nil)
  t
  '("/home/emb/sc/cotccm/130105_human_ark/")
  nil)

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/130105_human_ark/lions_ctl.scd"
  "lions_ctl.scd"
  'sclang-mode
  nil
  383
  '(3604 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "cotccm_lib"
  'dired-mode
  nil
  286
  '(nil nil)
  t
  '("/home/emb/sc/cotccm/cotccm_lib/")
  nil)

(desktop-create-buffer 206
  "/home/emb/sc/pad.scd"
  "pad.scd"
  'sclang-mode
  nil
  275
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/cotccm_lib/synthdefs.scd"
  "synthdefs.scd"
  'sclang-mode
  nil
  23778
  '(22501 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "cotccm"
  'dired-mode
  nil
  5449
  '(nil nil)
  t
  '("/home/emb/sc/cotccm/")
  nil)

(desktop-create-buffer 206
  nil
  "sc"
  'dired-mode
  nil
  1956
  '(nil nil)
  t
  '("/home/emb/sc/")
  nil)

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/130105_human_ark/_x.scd"
  "_x.scd"
  'sclang-mode
  nil
  1066
  '(1206 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/130105_human_ark/__lions.scd"
  "__lions.scd"
  'sclang-mode
  nil
  2475
  '(3176 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/130105_human_ark/_defs.scd"
  "_defs.scd"
  'sclang-mode
  nil
  3326
  '(1 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/130105_human_ark/defs.scd"
  "defs.scd"
  'sclang-mode
  nil
  4064
  '(18 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . iso-latin-1-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/130105_human_ark/def.scd"
  "def.scd"
  'sclang-mode
  nil
  17
  '(1 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/121006_humanresources/___x.scd"
  "___x.scd"
  'sclang-mode
  nil
  305
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/130105_human_ark/arduino.scd"
  "arduino.scd"
  'sclang-mode
  nil
  1095
  '(1883 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/121006_humanresources/_x.scd"
  "_x.scd<2>"
  'sclang-mode
  nil
  2314
  '(1928 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "121006_humanresources"
  'dired-mode
  nil
  1754
  '(nil nil)
  t
  '("/home/emb/sc/cotccm/121006_humanresources/")
  nil)

(desktop-create-buffer 206
  nil
  "121019_berlin"
  'dired-mode
  nil
  2096
  '(nil nil)
  t
  '("/home/emb/sc/cotccm/121019_berlin/")
  nil)

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/121019_berlin/x_test.scd"
  "x_test.scd"
  'sclang-mode
  nil
  1
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/121019_berlin/x.scd"
  "x.scd"
  'sclang-mode
  nil
  1
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/130105_human_ark/set.scd"
  "set.scd"
  'sclang-mode
  nil
  1
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

