;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Mon Dec  3 21:15:54 2012
;; Desktop file format version 206
;; Emacs version 23.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '(";"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/sc/121209_caligari/pmdef.scd" "~/sc/121209_caligari/pm_scr.scd" "~/sc/121209_caligari/pmdef.scd" "~/sc/cotccm/121009_id1/sine_seq.scd" "~/sc/cotccm/121009_id1/modr.scd" "~/sc/cotccm/121009_id1/" "~/sc/cotccm/121112/" "~/sc/121209_caligari/_x.scd" "~/sc/121209_caligari/pmdef.scd" "ok.scd" "~/sc/" "~/sc/cotccm/110710_scaffold/spiral.scd" "~/sc/cotccm/110710_scaffold/ctl_funcs.scd" "~/sc/cotccm/110710_scaffold/freeze.scd" "~/sc/cotccm/110710_scaffold/loops.scd" "~/sc/" "~/sc/121209_caligari/"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/emb/sc/121209_caligari/pmdef.scd"
  "pmdef.scd"
  'sclang-mode
  nil
  1618
  '(360 nil)
  t
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/121209_caligari/pm.scd"
  "pm.scd"
  'sclang-mode
  nil
  1220
  '(3585 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . utf-8-unix) (fill-column . 36)))

(desktop-create-buffer 206
  "/home/emb/sc/121209_caligari/pm_scr.scd"
  "pm_scr.scd"
  'sclang-mode
  nil
  581
  '(548 nil)
  t
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/121009_id1/sine_seq.scd"
  "sine_seq.scd"
  'sclang-mode
  nil
  655
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/121019_berlin/x.scd"
  "x.scd"
  'sclang-mode
  nil
  565
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/usr/local/share/SuperCollider/SCClassLibrary/Common/Audio/Env.sc"
  "Env.sc"
  'sclang-mode
  nil
  1550
  '(nil nil)
  t
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/121009_id1/happens.scd"
  "happens.scd"
  'sclang-mode
  nil
  622
  '(751 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/121009_id1/modr.scd"
  "modr.scd"
  'sclang-mode
  nil
  1053
  '(nil nil)
  t
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/121009_id1/x.scd"
  "x.scd<2>"
  'sclang-mode
  nil
  334
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "121009_id1"
  'dired-mode
  nil
  669
  '(220 nil)
  t
  '("/home/emb/sc/cotccm/121009_id1/")
  nil)

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/121009_id1/cap.scd"
  "cap.scd"
  'sclang-mode
  nil
  655
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "121112"
  'dired-mode
  nil
  1094
  '(694 nil)
  t
  '("/home/emb/sc/cotccm/121112/")
  nil)

(desktop-create-buffer 206
  "/usr/local/share/SuperCollider/SCClassLibrary/Common/Core/Clock.sc"
  "Clock.sc"
  'sclang-mode
  nil
  6915
  '(nil nil)
  t
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/usr/local/share/SuperCollider/SCClassLibrary/Common/Audio/InOut.sc"
  "InOut.sc"
  'sclang-mode
  nil
  1026
  '(nil nil)
  t
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/110710_scaffold/spiral.scd"
  "spiral.scd"
  'sclang-mode
  nil
  243
  '(235 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/usr/local/share/SuperCollider/Extensions/catfact/catfact_/PrimeSpiral.sc"
  "PrimeSpiral.sc"
  'sclang-mode
  nil
  992
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . iso-latin-1-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/121112/_defs.scd"
  "_defs.scd"
  'sclang-mode
  nil
  6788
  '(6760 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/121209_caligari/ok.scd"
  "ok.scd"
  'sclang-mode
  nil
  776
  '(723 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/101124_upstairs/sfrnglop.scd"
  "sfrnglop.scd"
  'sclang-mode
  nil
  3358
  '(1376 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "cotccm"
  'dired-mode
  nil
  4035
  '(nil nil)
  t
  '("/home/emb/sc/cotccm/")
  nil)

(desktop-create-buffer 206
  nil
  "sc"
  'dired-mode
  nil
  1062
  '(nil nil)
  t
  '("/home/emb/sc/")
  nil)

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/110710_scaffold/___.scd"
  "___.scd"
  'sclang-mode
  nil
  236
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/110710_scaffold/ctl_funcs.scd"
  "ctl_funcs.scd"
  'sclang-mode
  nil
  1
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/110710_scaffold/freeze.scd"
  "freeze.scd"
  'sclang-mode
  nil
  1
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/110710_scaffold/loops.scd"
  "loops.scd"
  'sclang-mode
  nil
  1
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "110710_scaffold"
  'dired-mode
  nil
  535
  '(nil nil)
  t
  '("/home/emb/sc/cotccm/110710_scaffold/")
  nil)

(desktop-create-buffer 206
  nil
  "120827_hil"
  'dired-mode
  nil
  220
  '(nil nil)
  t
  '("/home/emb/sc/cotccm/120827_hil/")
  nil)

(desktop-create-buffer 206
  nil
  "121019_berlin"
  'dired-mode
  nil
  180
  '(nil nil)
  t
  '("/home/emb/sc/cotccm/121019_berlin/")
  nil)

(desktop-create-buffer 206
  nil
  "101124_upstairs"
  'dired-mode
  nil
  608
  '(nil nil)
  t
  '("/home/emb/sc/cotccm/101124_upstairs/")
  nil)

