;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue Dec  4 22:52:43 2012
;; Desktop file format version 206
;; Emacs version 23.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("out_s" "in_b" "~ch"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/sc/cotccm/121209_caligari/" "~/sc/cotccm/121209_caligari/_x.scd" "~/sc/cotccm/121209_caligari/def.scd" "~/sc/cotccm/121209_caligari/working.scd" "~/sc/cotccm/121209_caligari/" "~/sc/cotccm/121209_caligari/scratch.scd" "~/sc/cotccm/120328_4dattackerz/" "~/sc/cotccm/" "~/sc/cotccm/121209_caligari/ctl.scd" "~/sc/cotccm/121209_caligari/" "~/sc/cotccm/121019_berlin/analysis.scd" "~/sc/cotccm/121209_caligari/def.scd" "~/sc/cotccm/121209_caligari/pmdef.scd" "~/sc/cotccm/121209_caligari/" "~/sc/cotccm/" "~/sc/cotccm/121209_caligari/_x.scd" "~/sc/cotccm/121209_caligari/"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/emb/sc/cotccm/121209_caligari/_x.scd"
  "_x.scd"
  'sclang-mode
  nil
  978
  '(992 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/121209_caligari/ctl.scd"
  "ctl.scd"
  'sclang-mode
  nil
  1874
  '(1864 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/121209_caligari/analysis.scd"
  "analysis.scd"
  'sclang-mode
  nil
  1749
  '(1749 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/121209_caligari/def.scd"
  "def.scd"
  'sclang-mode
  nil
  2834
  '(3419 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/usr/local/share/SuperCollider/Extensions/catfact/catfact_util/CfContext.sc"
  "CfContext.sc"
  'sclang-mode
  nil
  2795
  '(2619 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/usr/local/share/SuperCollider/SCClassLibrary/Common/Audio/PitchShift.sc"
  "PitchShift.sc"
  'sclang-mode
  nil
  1
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/usr/local/share/SuperCollider/SCClassLibrary/Common/Audio/Noise.sc"
  "Noise.sc"
  'sclang-mode
  nil
  3350
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/121209_caligari/working.scd"
  "working.scd"
  'sclang-mode
  nil
  460
  '(460 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/usr/local/share/SuperCollider/SCClassLibrary/Common/Audio/Trig.sc"
  "Trig.sc"
  'sclang-mode
  nil
  4000
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/121209_caligari/ok.scd"
  "ok.scd"
  'sclang-mode
  nil
  996
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "121209_caligari"
  'dired-mode
  nil
  765
  '(nil nil)
  t
  '("/home/emb/sc/cotccm/121209_caligari/")
  nil)

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/121209_caligari/scratch.scd"
  "scratch.scd"
  'sclang-mode
  nil
  90
  '(55 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/120328_4dattackerz/_4dz.scd"
  "_4dz.scd"
  'sclang-mode
  nil
  1785
  '(1 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "cotccm"
  'dired-mode
  nil
  4043
  '(nil nil)
  t
  '("/home/emb/sc/cotccm/")
  nil)

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/121019_berlin/x.scd"
  "x.scd"
  'sclang-mode
  nil
  579
  '(1 nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "121019_berlin"
  'dired-mode
  nil
  2095
  '(nil nil)
  t
  '("/home/emb/sc/cotccm/121019_berlin/")
  nil)

(desktop-create-buffer 206
  "/home/emb/sc/cotccm/121209_caligari/pm.scd"
  "pm.scd"
  'sclang-mode
  nil
  454
  '(nil nil)
  nil
  nil
  '((tab-width . 4) (indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

